<div class="week_details">
  <table>
    <tr>
      <td>Grocery List:</td>
      <td>
        <%= link_to '#', onclick: "grocery_list(event, #{week.id})" do %>
          <i class="fas fa-list-ol"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Delete Week:</td>
      <td>
        <%= link_to '#', onclick: "delete_week(event, #{week.id}, $(this))" do %>
          <i class="far fa-trash-alt delete_week"></i>
        <% end %>
      </td>
    </tr>
      <% counter = 0 %>
      <% week.my_meals.each do |m| %>
    <tr>
      <td><%= week.days[counter] %>: </td>
      <td><%= render 'meal', meal: m %></td>
      <% counter += 1 %>
    </tr>
    <% end %>
  </table>
</div>
