<div class="grocery_list">
  <h2>Grocery List</h2>
  <table>
    <% @week.grocery.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <% v.each do |k, v| %>
          <td><%= k %>: <%= v %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>