<div>
  <div class="week_title">
    <h2>My Weeks</h2>
    <p>Click on <i class="fas fa-list-ol"></i> to Get the Grocery List.</p>
    <p>Click on <i class="far fa-list-alt"></i> to Get the Recipe.</p>
    <p>Click on <i class="far fa-trash-alt"></i> to Delete this Week</p>
  </div>
  <div class="weeks">
    <% @weeks.each do |week| %>
      <%= render "week", week: week %>
    <% end %>
  </div>
</div>
