<div class="my_meals">
  <% @my_meals.each do |m| %>
    <div>
      <div><%= image_tag(m.strMealThumb, size: '100x100', alt: 'MealImage', class: 'draggable', value: m.id, onerror: "this.onerror=null; this.src='/assets/home.jpg'") %></div>
      <%= m.strMeal %>
      <%= link_to 'Edit', edit_my_meal_path(m.id) %>
      <i class="far fa-trash-alt delete_week" onclick="delete_meal($(this))"></i>
      <input type="hidden" name="id" value="<%= m.idMeal %>">
    </div>
  <% end %>
</div>
