<div class="user_home">
  <div><input id="userSearch" type="text" placeholder="Search..."></div>
  <div>
    <table class="user_table">
      <thead>
        <tr>
          <td>User Name</td>
          <td>Email</td>
          <td>Info Email</td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.user_name %></td>
            <td><%= user.email %></td>
            <td><%= check_box_tag 'info', 1, user.info == true, onclick: "set_user_info($(this))", id: user.id %> </td>
          </tr>
        <% end %>
      </tbody>
  </table>
  </div>
  <div>
    <p>Users agree with info emails: <input readonly type="text" class="email_array" value="<%= @email_array.join(', ') %>"><button onclick="copy($(this))">copy</button></p>
  </div>
</div>
<script>
  $('#userSearch').focus();
  $('#userSearch').on('keyup', function() {
    let val = $(this).val().toLowerCase();
    $('.user_table').children('tbody').filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(val) > -1)
    })
  })
</script>
