<% @meals.each do |m| %>
  <div class="meal">
    <input type="hidden" name="id" value="<%= m['idMeal'] %>">
    <div><%= m['strMeal'] %> <i class="far fa-heart icons"></i><i class="fas fa-heart icons"></i></div>
    <div>
      <%= link_to '#', onclick: 'get_recipe(event, $(this))' do %>
        <%= image_tag(m['strMealThumb'], size: '200x200', alt: m['strMealThumb']) %>
      <% end %>
    </div>
    <div class="select_meal">Select</div>
  </div>
<% end %>
<script>
  $('.select_meal').on('click', function() {
    debugger;
  })

  function get_recipe(event, link) {
    event.preventDefault();
    let id = link.parent().siblings('input').val();
    $.ajax({
      url: 'meals/recipes',
      method: 'get',
      data: { id },
      success: function(response) {
        link.append(response)
      }
    })
  }
</script>
