<div class="meals_home">
  <div class="">
    <% @categories.each do |c| %>
      <div class="category">
        <div class="category_title"><%= link_to c['strCategory'], nil, class: 'category_link' %></div>
        <div><%#= image_tag(c['strCategoryThumb'],size: '150x100', alt: c['strCategory']) %></div>
        <div class="category_desc"><%= c['strCategoryDescription'] %></div>
      </div>
    <% end %>
    <div id="meals">
      <p><%= link_to '<< Back', nil , onclick: "$('.category, #meals').toggle();", class: "links" %></p>
      <h2 id="mealTitle"></h2>
      <div id="description"></div>
      <div id="catMeals"></div>
    </div>
  </div>
</div>

<script>
  $('.category_link').on('click', function(event) {
    event.preventDefault();
    let category = $(this).text();
    let descr = $(this).parents('.category_title').siblings('.category_desc').text();
    $.ajax({
      url: 'meals/meals',
      method: 'get',
      data: { category },
      success: function(response) {
        $('#catMeals, #description, #mealTitle').html('');
        $('#mealTitle').html(category);
        $('#description').html(descr);
        $('#catMeals').html(response);
        $('.category, #meals').toggle();
      }
    })
  });
</script>