<%= link_to 'New Ingredient', new_food_path %>
<div><input id="foodSearch" type="text" placeholder="Search..."></div>
<div>
  <% @foods.each do |f| %>
    <p class="food_search"><%= f.name %></p>
  <% end %>
</div>
<script>
  $('#foodSearch').on('keyup', function() {
    let val = $(this).val().toLowerCase();
    $('.food_search').filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(val) > -1)
    })
  })
</script>