<div>
<input id="foodCreate" type="text" placeholder="Name..."></div>
<script>
  $('#foodCreate').focus();
  $('#foodCreate').on('keyup', function(event) {
    if (event.keyCode == 13) {
      add_input($(this), '/foods', 'food_search')
    }
  });
</script>