// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg {
  margin: auto;
  background-image: url('home.jpg');
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vw;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  font-size: 22px;
  color: white;
  border: 1px solid #D3EADB;
  width: 20%;
  height: 10%;
  padding-top: 1%;
  text-decoration: none;
  background-color: #9CD1AE;
}

.register:hover {
  background-color: #83B795;
}

.home_text {
  text-align: center;
  width: 50%;
  margin: 50px auto 0 auto;
}

.home_image {
  border-radius: 100px;
}

.home_meals {
  width: 50%;
  margin: 30px auto 80px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.home_how {
  text-align: center;
  width: 80%;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.home_how p {
  margin: 0 auto 80px auto;
  width: 50%;
}
