// Place all the styles related to the my_meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new_meal_form {
  width: 80%;
  height: 100%;
}

.new_meal_form h2,form {
  width: 40%;
  margin: auto;
}

.new_meal_form h2 {
  margin-top: 50px;
}

.create_table {
  width: 85%;
  margin: auto;
}

.ingredients_fields, .measures_fields {
  display: none;
}

.my_meals img {
  border-radius: 100px;
}

.my_meals_container {
  margin: 30px 10px;
  display: flex;
  flex-direction: row;
}

.my_meals_search {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.my_meals {
  width: 80%;
  height: 72vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.my_meal_container {
  min-width: 165px;
  max-width: 165px;
  max-height: 200px;
  margin: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.my_meal_category {
  display: none;
}

#myInputCategory {
  text-align: center;
  width: 120px;
  margin: 10px;
  height: 110px;
  overflow-y: scroll;
  border: 1px solid grey;
}

#myInputCategory p {
  cursor: pointer;
}

#myInputAll {
  margin: 10px;
  border: 1px solid grey;
  width: 120px;
  cursor: pointer;
  text-align: center;
}

.search_label {
  margin: 0 10px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#myInputTitle {
  width: 120px;
  margin: 10px;
}

.meal_icons {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.meals_home {
  width: 80%;
  margin: auto;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category div {
    margin: 30px;
}

.category_desc {
  display: none;
}

#description {
  margin: 30px auto;
  // max-width: 60vw;
}

#meals {
  display: none;
}

#catMeals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#catMeals img {
  border-radius: 100px;
}

.meal, .favorite_meal {
  min-width: 165px;
  max-width: 165px;
  margin: 10px;
}

.select_meal {
  text-align: center;
  background-color: grey;
}

.icons {
  color: blue;
}

.meal_icons {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.field_show_recipe_details {
  min-width: 170px;
  vertical-align: top;
}

.category_link {
  text-decoration: none;
  color: black;
}

.back_links {
  color: black;
}

.meal_search {
  width: 80%;
  margin: 30px auto 30px auto;
}

.add_more_ingredients {
  margin: 20px;
}

#my_meal_title {
  width: 315px;
}