// Place all the styles related to the weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weeks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px auto 50px auto;
}

.week_details {
  padding: 20px;
}

.week_meals {
  display: inline;
}

.week_title {
  text-align: center;
}