// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.week_plan_select {
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
}