// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite_meal {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.welcome_index {
  text-align: center;
}

.welcome_index_links {
  text-decoration: none;
}

.welcome_index_links:hover {
  color: #83B795
}

.instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.instructions div {
  max-width: 160px;
  margin: 10px;
}

.recipe_or_bug {
  margin-top: 130px;
}