<div>
<input id="measureCreate" type="text" placeholder="Name..."></div>
<script>
  $('#measureCreate').focus();
  $('#measureCreate').on('keyup', function(event) {
    if (event.keyCode == 13) {
      add_input($(this), '/measures', 'measure_search')
    }
  });
</script>